

/* General */
body {
	background-color: #252E37;
	font-family: poppins, sans-serif;
}

h1 {
	font-size:48px;
	background: linear-gradient(to right, #659499, 
	#EAB731); 
	-webkit-text-fill-color: transparent; 
	-webkit-background-clip: text; 
  }
  h1 span {
	background: linear-gradient(#385560 #EAB731);
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
  }
h2 {
	color:white;
}
h3 {
	color: #BC9D4B;
}

a{
	color:white;
	text-decoration: none;
}
p {
	font-size:24px;
	color: white;
}
.button {
	width: 100px;
	height: 35px;
	letter-spacing: 1.25px;
	font-weight: bold;
	border-radius: 20px;
	background-color: #EAB731;
	border: none;
	color: #252E37;
	padding: 5px;
	transition: all 0.15s ease;
}
.button:hover {
	/* font-family: 
	font-size:  */
	letter-spacing: 1.25px;
	font-weight: bold;
	border-radius: 20px;
	background-color: #DA7A0E;
	border: none;
	color: #fff;
	padding: 5px;
	transition: all 0.15s ease;
	cursor: pointer;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	margin-bottom: 200px;
}

.navbar .nav-left img {
	height:100px;
	width: 100px;
}
.navbar .nav-right {
	display:flex;
	width: 800px;
	justify-content: space-between;
	margin:10px;
}
.navbar .nav-right a{
	letter-spacing: 1.25px;
	text-decoration: none;
	color:white;
}

.navbar .nav-right a:hover{
	text-align: center;
	color: #da7a0e;
	text-decoration: underline;
	color: #da7a0e;
}


/* HERO section --- Main Landing Page */
.container {
	/* border:red 3px solid; */
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}
.hero {
	margin: 0 40px;
	display:flex;
	}
.hero .col-left {
	width: 700px;
}
.hero .col-right img{
		height:500px;
	}



/* Customer Scroller */
.Customers {
	text-align:center;
}

ul {
	list-style: none;
}

.scroller {
	width: 75%;
	text-decoration: none;
	list-style: none;
	text-decoration: none;
	margin-bottom: 200px;
}
.scroller_inner {
	padding-block: 1rem;
	display:flex;
	gap: 1rem;
}




/* Solutions */


.Solutions{
	margin-bottom: 300px;
	margin-top: 300px;
}

.Solutions h2{
	text-align: center;
}
.solutins-container {
	display:flex;
	margin:30px;
}

.sol {
	margin: 30px;
}



/* Projects */

.projects {
	margin-bottom: 500px;
}

.projects h2{
	
	text-align:center;
}
.example {
	display:flex;
	margin-bottom: 0 20px 200px 20px;
}

.example{
	display:flex;
	justify-content: space-around;
	margin:20px;
}

.card {
	display: flex;
	border:#659499 1.5px solid;
	border-radius: 5%;
	background-color: #385560;
	text-align: center;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	margin: 20px;
	padding: 10px;
	transition: 0.5s ease;
}
.card h3{
	text-align: center;
}
.card-button{
	width: 100px;
	letter-spacing: 1.25px;
	font-weight: bold;
	border-radius: 20px;
	background-color: #EAB731;
	border: none;
	color: black;
	padding: 5px;
}



/* About Us */

.about{
	display:flex;
	flex-direction: column;
}

.About-us {
	display:flex;
	flex-direction: column;
}
.About-us h2{
	text-align: center;
}

.Oliver {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
	padding:100px;
}
.Oliver .text {
	margin-left:50px;
}
.Oliver img {
	width: 400px;
}
.Simone img {
	width: 400px;
}
.Simone {
	display:flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-bottom: 100px;
	padding:100px;
}




/* Contact Form */

.contact-container {
	text-align: center;
	color:white;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #385560;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: center;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #DA7A0E;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}